@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1>Kartik Jaswal 500238073</h1>
    <p class="lead">First Web App in the Azure App Service.</p>
</div>



